# blackmored RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.blackmore
host=127.0.0.1

#mainnet default
port=15715

#testnet default
#port=25715

#regtest default
#port=35715

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=4212000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=70352206
genesis=000001faef25dec4fbcf906e6242621df2c183bf232f263d0ba5b101911e4563
input=/home/example/.blackmore/blocks

# testnet
#netmagic=cdf2c0ef
#genesis=0000724595fb3b9609d441cbfb9577615c292abf07d996d3edabc48de843642d
#input=/home/example/.blackmore/testnet/blocks

# regtest
#netmagic=70352206
#genesis=0000724595fb3b9609d441cbfb9577615c292abf07d996d3edabc48de843642d
#input=/home/example/.blackmore/regtest/blocks


# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
