aarch64-linux-gnu/aarch64-linux-gnu/*
aarch64-linux-gnu/parts/*
arm-linux-gnueabihf/arm-linux-gnueabihf/*
arm-linux-gnueabihf/parts/*
x86_64-linux-gnu/x86_64-linux-gnu/*
x86_64-linux-gnu/parts/*
depends*.*xz